{% extends 'layout.html' %}
{% block title %}Contact us | CoderX{% endblock %}
{% block body %}
<div class="container">
    <form action="/contact" class="align-item-center" method="post">{% csrf_token %}
        <h2 class="my-3">What is your Query?</h2>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="Your Name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Phone</label>
            <input type="number" class="form-control" id="exampleFormControlInput2" name="phone" placeholder="Your Mobile no.">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput3" name="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextaraea1" class="form-label">Query</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="txtarea" rows="3"></textarea>
        </div>
        <button class="btn btn-success" type="submit">Send</button>
    </form>
</div>
{% endblock %}